<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The 5 Whys of EtherCIS</h3>
                </div>
            </div>
	    <div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
               
                    <img class="img-square img-responsive" src="img/EtherCIS-user-centred.jpg" alt="">
                        
		   </div>
		   <div class="col-lg-4 text-center">
                                 
                     <h4 class="service-heading">Clinical Data Repository</h4>
                    <p>Healthcare is Information Intensive  - Data: Information: Knowledge</p>
		    <p class="text-muted"> 
			21st Century Healthcare is under pressure, around the globe.<br/>
			We need to work smarter not harder – to survive, yet alone thrive.<br/>
			Currently Health IT is holding healthcare back. <br/>
			    We must raise our game in this information intensive field </p>   
			<p class="text-muted">    
			EtherCIS is built for the challenges of 21st Century Healthcare.<br/>
			Data. Information. Knowledge – healthcare needs better support with better tools. <br/>
			EtherCIS offers healthcare that support. <br/>
			EtherCIS built to support healthcare. <br/>
				A Clinical Data Repository fit for 21st Century Health & Care.
			<br/>
                       </p>
			
		   </div>
			
                </div>
            </div>
		
		<div class="row">
	        .
		</div>
		
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
                     <img class="img-square img-responsive" src="img/bigSky_w_moon.jpg" alt="">
		                     
		   </div>
		   <div class="col-lg-4 text-center">
                    <h4 class="service-heading">Enterprise Grade</h4>
                    <p>Healthcare needs frontline innovation. Innovation that scales</p> 
			<p class="text-muted">
			Healthcare is complex. Around the globe healthcare systems are creaking.
			The changes ahead need both strong leadership and real innovation.
			Clinical leaders and their innovation efforts at the frontline need our support.
			   </p> 
		        <p class="text-muted">
			Current HealthIT doesn’t help – it limits innovation and struggles at scale.
			So 21st Century healthcare demands innovative technology ready for complexity and scale.
			EtherCIS built to support healthcare – supporting the scale and complexity of any healthcare enterprise.  
			</p>   
			   <p class="text-muted"></p>
			
			 		  
                     </div>
			
                </div>
            </div>
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
               
                    <img class="img-square img-responsive" src="img/ethereal_lighting.jpg" alt="">
                        
		   </div>
		   <div class="col-lg-4 text-center">
                                 
                     <h4 class="service-heading">Structured & Narrative Data</h4>
                    <p>This stuff needs to be fast and furious. Fit for an Enterprise</p>
			   <p class="text-muted">So Quick and Easy is nice, but what about scale? </p>
                           <p class="text-muted">This stuff needs to be built on quality and fit for the Enterprise. </p> 
		           <p class="text-muted">QewdJS is a framework built for Quality Enterprise Web Development.</p>   
		    	   <p class="text-muted">Quality technology fit for the Enterprise – built to be superfast, solid, secure and scalable.
			   		 	QewdJS is the result of 10 years of Web Development- for the Enterprise.
						It just so happens to be called Qewd . JS </p>
		   </div>
			
                </div>
            </div>
		
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
                    <img class="img-square img-responsive" src="img/1man_bigSky.jpg" alt="">
                          
		   </div>
		   <div class="col-lg-4 text-center">
                       
                     <h4 class="service-heading">openEHR Support</h4>
                    <p>Did somebody say JavaScript? The language of the web</p>
			 <p class="text-muted">When the web began, JavaScript was for the UI hackers. But hold on, isn’t that the tech that now powers the Enterprise?</p>   
		      <p class="text-muted">Yep, QewdJS stuff is built to leverage NodeJS.. and improve it!</p>   
		       <p class="text-muted">
			   Javascript and JSON are taking over the world of development.
			   We love the colourful diversity of the Javascript/JSON world. QewdJS leverages NodeJS & JSON and adds to the JS mix.  
			   </p> 
   			<p class="text-muted">
			  QewdJS: NodeJS based Development & Integration – see what this Swiss-Army knife tech can do..
 			</p> 

                    </div>
			
                </div>
            </div>
		<div class="row with-margin">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-8 text-center">
               
                    <img class="img-square img-responsive" src="img/neon_open_sign.jpg" alt="">
                        
		   </div>
		   <div class="col-lg-4 text-center">
                                 
                     <h4 class="service-heading">Open Source</h4>
                    <p>The 21st Century is open, like it or not. We’re sharing our work with the world.</p>
			   <p class="text-muted">Open Source refers to something that can be modified and shared because its design is publicly and freely accessible.</p>   
			  <p class="text-muted">This technology rocks. So why not give it to the world.. done.</p>   
		  <p class="text-muted">Open Source has 3 key virtues</p>  
			<ul>
			  <li class="text-muted">Unconstrained innovation – ideas and ambitions can be shared by folk who are oceans apart</li>
			  <li class="text-muted">Transparent credibility -allowing immediate detailed scrutiny immediately boosts credibility</li>
			  <li class="text-muted">Decentralized control – amendments and improvement can come from the bottom up</li>
			</ul>
	
			</div>
			
                </div>
            </div>
		
           
        </div>
    </section>
