<!-- Services Section -->

<!-- Qewd Icon for later use
<p>Test: <i class="qewd-icon">&#xe803;</i></p>
-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">10 key features of EtherCIS</h3>
                </div>
            </div>
       
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Enterprise Data Repository</h4>
                    <p class="text-muted">
                       There are databases, there are data repositories, there are enterprise data repositories.<br/>
                       EtherCIS is built to be a cradle to grave data repository for the Enterprise.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-chart-line fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">Structured &amp; Narrative Data</h4>
                    <p class="text-muted">
                    The complexity of healthcare can be understood from the range of data involved; from highly structured dataset to all important patient narratives. <br/>
                        EtherCIS supports structured & narrative data - out of the box.

                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Analytics &amp; Intelligence</h4>
                    <p class="text-muted">
                    Reporting. Learning. Informing. Smart healthcare organisations are learnign organisations. <br/>
                    Data drives Learning. Learning informs improvements.<br/> 
                    Care cycle // Data cycle
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">openEHR Compliant</h4>
                    <p class="text-muted">
                   openEHR compliant and showcase reference implementation.
                   openEHR is the worlds leading and defacto standard for building next generation of healthIT.<br/>
                   
                   <br/> 
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            
             <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-open-source fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Open Source</h4>
                    <p class="text-muted">
                    Open Source is the right thing to do in healthcare. <br/>
                    EtherCIS is openly available on Github <br/>
                    Open Source License: Apache 2 
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">RESTful APIs</h4>
                    <p class="text-muted">
                   Application Programming Interfaces out of the box- RESTful API ready to support your integration needs.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-doc-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                   <h4 class="service-heading">JSON/XML/GRAPHQL Support</h4>
                    <p class="text-muted">
                    JSON & XML API support out of the box. Leading edge development harnesses the potential of GraphQL for next generation APIs.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                   
                    <h4 class="service-heading">Secure Access &amp; Audit Support</h4>
                    <p class="text-muted">
                   Security matters - clinical data secured. Access matters - clinical access securely.   
                   Audit Support built in - to check and double check. 
                    </p>
                </div>
                <div class="col-md-2">
                     <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            <div class="row text-center">
                
                <div class="col-md-2 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-java fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
                 
                <div class="col-md-3">
                    <h4 class="service-heading">Java Based</h4>
                    <p class="text-muted">
                   Java remains the leading language in Enterprise Software Development.
                   EtherCIS harnesses the power of Java- and brings it to the healthcare Enterprise.
                    </p>
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="demo-icon icon-postgres fa-stack-1x fa-inverse"></i>
                    </span>
                    <p class="text-muted"></p>
                </div>
           
                <div class="col-md-3">
                    <h4 class="service-heading">PostgreSQL Persistence</h4>
                    <p class="text-muted">
                    Data Repository. Data. Repository. PostGreSQL is the worlds leading open source database.
                    </p>
                </div>
                <div class="col-md-2">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted">...</p>
                </div>
          
            </div>   
            
            
        </div>
    </section>
